.highlight .hll { background-color: $fg; }
.highlight .c { color: $comment; } /* Comment */
.highlight .err { color: $red; } /* Error */
.highlight .k { color: $pink; } /* Keyword */
.highlight .o { color: $pink } /* Operator */

.highlight .cm { color: $comment; } /* Comment.Multiline */
.highlight .cp { color: $comment; } /* Comment.Preproc */
.highlight .c1 { color: $comment; } /* Comment.Single */
.highlight .cs { color: $comment; } /* Comment.Special */

.highlight .gd { border: 1px solid $red } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $red } /* Generic.Error */
.highlight .gh { color: $purple; font-style: bold; } /* Generic.Heading */
.highlight .gi { border: 1px solid $green } /* Generic.Inserted */
.highlight .go { } /* Generic.Output */
.highlight .gp { } /* Generic.Prompt */
.highlight .gs { } /* Generic.Strong */
.highlight .gu { color: $purple; } /* Generic.Subheading */
.highlight .gt { color: $green } /* Generic.Traceback */

.highlight .kc { color: $pink; } /* Keyword.Constant */
.highlight .kd { color: $pink; } /* Keyword.Declaration */
.highlight .kn { color: $pink; } /* Keyword.Namespace */
.highlight .kp { color: $pink; } /* Keyword.Pseudo */
.highlight .kr { color: $pink; } /* Keyword.Reserved */
.highlight .kt { color: $pink; } /* Keyword.Type */

.highlight .m { color: $purple } /* Literal.Number */
.highlight .s { color: $yellow } /* Literal.String */

.highlight .na { color: $cyan } /* Name.Attribute */
.highlight .nb { color: $cyan;} /* Name.Builtin */
.highlight .nc { color: $cyan; } /* Name.Class */
.highlight .no { color: $purple;} /* Name.Constant */
.highlight .nd { color: $green; font-style: italic;} /* Name.Decorator */
.highlight .ni { color: $pink; } /* Name.Entity */
.highlight .ne { color: $red;} /* Name.Exception */
.highlight .nf { color: $green; } /* Name.Function */
.highlight .nl { color: $comment; } /* Name.Label */
.highlight .nn { color: $fg;} /* Name.Namespace */
.highlight .nt { color: $pink; } /* Name.Tag */
.highlight .nv { color: $pink; } /* Name.Variable */

.highlight .ow { color: $purple; } /* Operator.Word */

.highlight .w { } /* Text.Whitespace */

.highlight .mf { color: $purple } /* Literal.Number.Float */
.highlight .mh { color: $purple } /* Literal.Number.Hex */
.highlight .mi { color: $purple} /* Literal.Number.Integer */
.highlight .mo { color: $purple } /* Literal.Number.Oct */
.highlight .sb { color: $purple } /* Literal.String.Backtick */
.highlight .sc { color: $yellow } /* Literal.String.Char */
.highlight .sd { color: $yellow; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: $yellow} /* Literal.String.Double */
.highlight .se { color: $pink } /* Literal.String.Escape */
.highlight .sh { color: $yellow} /* Literal.String.Heredoc */
.highlight .si { color: $yellow } /* Literal.String.Interpol */
.highlight .sx { color: $yellow} /* Literal.String.Other */
.highlight .sr { color: $yellow } /* Literal.String.Regex */
.highlight .s1 { color: $yellow } /* Literal.String.Single */
.highlight .ss { color: $yellow} /* Literal.String.Symbol */

.highlight .bp { color: $pink } /* Name.Builtin.Pseudo */
.highlight .vc { color: $pink } /* Name.Variable.Class */
.highlight .vg { color: $pink } /* Name.Variable.Global */
.highlight .vi { color: $pink } /* Name.Variable.Instance */
.highlight .il { color: $purple } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
